# Hugo/Jekyll
/public/
/resources/
/docs/
.hugo_build.lock
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*~
*.swp
*.swo
*.bkp

# Node
node_modules