#theme-toggle {
  background: none;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 10px; /* Adjust as needed */
}

html[data-theme='dark'] #theme-toggle {
  background: #333;
  color: #eee;
  border-color: #555;
}

.posts-list-item-title {
  font-weight: bold;
}