<div class="link-sections">
  {{ range .Site.Data.links }}
  <details class="resource-category" {{ if eq .category "Networking Blogs" }}open{{ end }}>
    <summary class="resource-category-title">{{ .category }}</summary>
    <table class="link-table">
      <thead>
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      {{ range .links }}
      <tr>
        <td class="link-table-title"><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></td>
        <td class="link-table-description">{{ .description }}</td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </details>
  {{ end }}
</div>
