<div class="link-sections">
  {{ range .Site.Data.links }}
  <div class="resource-category">
    <div class="resource-category-title">{{ .category }}</div>
    <table class="link-table">
      <tbody>
      {{ range .links }}
      <tr>
        <td class="link-table-title"><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></td>
        <td class="link-table-description">{{ .description }}</td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
  {{ end }}
</div>
