<style>
  .link-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
  }

  .link-table th, .link-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  .link-table th {
    background-color: #f2f2f2;
  }

  .link-table-title {
    font-weight: bold;
    white-space: nowrap; /* Prevent title from wrapping */
  }

  .link-table-description {
    font-size: 0.9em;
    color: #666;
  }
</style>

<div class="link-sections">
  {{ range .Site.Data.links }}
    <h3 class="link-category-title">{{ .category }}</h3>
    <table class="link-table">
      <thead>
        <tr>
          <th>Link</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      {{ range .links }}
        <tr>
          <td class="link-table-title"><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></td>
          <td class="link-table-description">{{ .description }}</td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  {{ end }}
</div>